/* ---- MAIN STYLING ---- */

  body {
    color: #000;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #F2F2F2;
    margin: 0 auto;
    width: 100%;
  }

  section {
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
    padding: 60px 10%;
  }

/* Navigation */
  
  #topnav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 99; /* nav displays above content at end of page */
    display: flex;
    justify-content: space-between; 
    align-items: center; /* vertical alignment */    
  }

  #logo {max-height: 2.5em;}

  #topnav a {padding: 10px;}

  #topnav a:last-child {padding-right: 5%;}

  .nav-link, #clock {
    margin-left: auto; /* great little way to align #clock center and .nav-link right  */ 
  }
  
/* ---- FONTS ---- */

  /* General */

    h1, h2, h3, h4, p {
      font-weight: 300;
    }  

    h1, h3 {
      font-family: 'Frank Ruhl Libre', serif;
    }

    h1 {
      font-size: 8em;
      max-width: 600px;
    }
    
    h2 {
      font-size: 2em;
      color: #1BC200;
    }

    h3 {
      text-align: center;
      font-size: 3em;
    }

    h4 {
      font-size: 2em;
      color: #1BC200;
    }

    p, nav a {
      font-size: 1.25em;
      line-height: 1.5;
      text-decoration: none;
      color: #000;
    }

    a {
      color: #1BC200;
    }

  

  /* Section Specific */

    #intro a {
      font-size: 2rem;
      color: #000;
    }

    #route h3, .border p {
      margin: 0; /* removes extra line-spacing w/o creating overlap when resizing page */
    }

    footer p {
      font-size: 1em;
    }

    

/* ---- SECTION STYLING ---- */

  /* Intro */

  #intro img {
    width: 30%;
    mix-blend-mode: multiply; /* makes img background same as page */
    position: absolute; 
    top: 25%;
    right: 0;
  }

  #intro div {
    width: 55%; /* !! TO DO -- find another way to do this for better resizing */
  }

  #intro a {
    float: right; 
  }

  #intro a:hover {
    color: #7BA684;
    transition: 0.3s;
  }

  /* Route */

  #route {
    background-color: #fff;
  }

  #route img {
    width: 100%;
    padding: 50px 0;
  }

  #route h4 {
    width: 65%;
    padding: 50px 0;
    margin: auto;  
  }

  .route_boxes {
    display: grid;
    margin: 40px auto;
    width: 70%;
  }

  .route_boxes div {
    border: 2px solid black;
    padding: 40px;
  }
  .route_boxes .border {
    border-bottom: 0; /* stops .route_boxes having thicker middle border */
  }

  .route_boxes a {
    padding-left: 2.5em; /* indents accommodation link */
  }

  /* Itinerary */

  #itinerary {
    width: 60%;
    margin: auto;
    position: relative
  }


  /*  .wrapper and .column make 
      two equal columns */
  .wrapper { 
    display: flex; 
  }

  .column {
    flex: 50%; 
  }

  #trackmarks {
    opacity: 0.15;
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /* FOOTER */

  footer {
    padding: 0px 20px; 
  }

